
  <div class="deleteMenu"><i class="fa fa-trash fa-fw text-danger"></i>&nbsp; <span>Delete</span></div>
  <hr>
  <div class="downloadMenu"><i class="fa fa-cloud-download text-info fa-fw"></i>&nbsp; <span>Download</span></div>
